* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

@font-face {
    font-family: 'Feijoa Display';
    src: url(./feijoa.otf) format('opentype');
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.4;
    background-color: #121212;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    background-image: url(./bg.jpg);
    background-size: 100px 100px;
    background-repeat: repeat;
}

body {
    padding: 2rem;
    color: #ccc;
}

#logo {
    margin-top: 2rem;
    margin-bottom: 4rem;
    text-align: center;
}

li {
    max-width: 16rem;
    margin: 0 auto;
    margin-bottom: 6rem;
}

img {
    width: 16rem;
    height: 16rem;
    object-fit: contain;
    margin-bottom: 2rem;
}

h2 {
    font-family: 'Feijoa Display', 'Times New Roman', Times, serif;
    font-weight: 800;
    letter-spacing: -0.025rem;
    font-size: 1.5rem;
    color: #f5f5f5;
    margin-bottom: 0.5rem;
}

p {
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    letter-spacing: -0.02rem;
}

.price {
    color: #999;
    font-size: 1.25rem;
    color: white;
    font-weight: 500;
    margin-bottom: 1rem;
}

small {
    font-size: 0.625rem;
    vertical-align: baseline;
}

@media (min-width: 64rem) {
    body {
        padding: 4rem;
    }

    #logo {
        margin-bottom: 0;
    }

    #tarts {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    li {
        max-width: calc(25% - 4rem);
        margin: 2rem 4rem;
    }
}

